<div *ngIf="meeting" class="card mb-3">

  <!-- Header -->
  <div class="card-header text-white">
    <h2><i class="fa-solid fa-circle-info"></i> Meeting Details</h2>
  </div>

  <!-- Body -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">{{ meeting.name }}</h4>

    <!-- Content -->
    <p class="card-text">
      The meeting will take place on <strong>{{ meeting.date }}</strong
      >, starting at <strong>{{ meeting.startHour }}</strong> and ending at <strong>{{ meeting.endHour }}.</strong>
    </p>

    <!-- Action Buttons -->
    <div class="actions pt-2">
      <a title="edit" routerLink="/meetings/update/{{ meeting.id }}"><i class="actions-icon text-success fa-solid fa-pen-to-square"></i></a>
      <a title="delete" routerLink="/meetings/delete/{{ meeting.id }}"><i class="actions-icon text-danger fa-solid fa-trash-can"></i></a>
      <a title="return" routerLink="/meetings/"><i class="actions-icon fa-solid fa-arrow-rotate-left"></i></a>
    </div>
    
  </div>
</div>
