.card-header {
  background-color: var(--purple);
  padding: 12px 16px;
}

.card-body {
  background-color: var(--gray);
  color: var(--darkblue);
}

button {
  margin: 15px 15px 0px 0px;
  width: 90px;
}

.invalid {
  color: var(--red);
}

