<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">

    <!-- Brand -->
    <a routerLink="" class="navbar-brand bold">Meeting Scheduler</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" routerLink="/meetings"
            ><i class="fa-solid fa-list-ul"></i> Meeting List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" routerLink="/meetings/create"
            ><i class="fa-solid fa-circle-plus"></i> Add Meeting</a
          >
        </li>
      </ul>

      <!-- Search -->
      <app-meeting-search class="ms-auto"> </app-meeting-search>
      
    </div>
  </div>
</nav>
