:root {
  --white: #f0f8ff;
  --gray: #cccedf93;
  --purple: #55557d;
  --darkblue: #212455;
  --darkgreen: #126625;
  --red: #dc3545;
}

a {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.title {
  color: var(--darkblue);
}

.card {
  border: none !important;
}

.message-success {
  background-color: var(--darkgreen);
  color: var(--white);
}

.message-error {
  background-color: var(--red);
  color: var(--white);
}

.mat-simple-snackbar-action {
  color: var(--white) !important;
}
